@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Merienda:wght@300..900&family=Outfit:wght@100..900&display=swap');

body {
  font-family: 'JetBrains Mono', monospace;
  /* background-color: #020618;
  display: flex ;
  align-items: center;
  justify-content: center;
  height: 100vh; */
}


/* bg-[#020618] h-screen flex items-center justify-center */